{%
    set classes = [
        logged_in ? 'user-logged-in',
        not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
        node_type ? 'page-node-type-' ~ node_type|clean_class,
    ]
%}
<!DOCTYPE html>
<html {{ html_attributes }}>
    <head>
        <head-placeholder token="{{ placeholder_token|raw }}">
        <title>{{ head_title|safe_join(' | ') }}</title>
        <css-placeholder token="{{ placeholder_token|raw }}">
        <js-placeholder token="{{ placeholder_token|raw }}">
    </head>
    <body{{ attributes.addClass(classes) }}>
        <a href="#main-content" class="visually-hidden focusable skip-link">
            {{ 'Skip to main content'|t }}
        </a>
        {{ page }}
        <js-bottom-placeholder token="{{ placeholder_token|raw }}">
    </body>
</html>